<!DOCTYPE html>
<html ng-app="app">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="../public/js/components.js"></script>
        <script src="../public/js/app.js"></script>
        <link rel="stylesheet" href="../public/style/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Courier+Prime&family=Exo:ital,wght@1,100&family=Josefin+Sans&family=Lato:ital,wght@1,100&family=Luckiest+Guy&family=Satisfy&display=swap" rel="stylesheet">
        <!--
        Notice the use of {PUBLIC_URL} in the tags above.
        It will be replaced with the URL of the `public` folder during the build.
        Only files inside the `public` folder can be referenced from the HTML.
        -->
    </head>

    <body ng-controller="sample">
        <div class="sample">
        </div>
    </body>

</html>